body {
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

/* Top of page Nav */

/* logo */
.logo{
	list-style-type: none;
	display: flex;
	flex: 1;
	/* background-color: black; */
}


.navbar {
    height: 70px;
    width: 100%;
    padding: 0px;
    background-color: #284664;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: "Sunflower", sans-serif;
}


.navbar li img {
    padding: 0px 25px;
    width: 45px;
    height: 45px;
    list-style: none;
    text-decoration: none;
}


/* nav links and icons */

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    margin: 35px;
    padding: 10px;

}

/* .nav-list a:visited{
	color: #284664;
} */ 


.nav-list a:hover {
    color: rgb(255, 255, 255);
    background-color: #dc3f2f;
    border-radius: 20px;
}


.iconify {
	height: 3rem;
	padding:0px 10px;
	width: auto;
	align-items:center;
	/* background-color: black; */

}
/* Contact form provided by Andrew Schroepfer.*/

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 8px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: none;
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
    background-color: #dc3f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: "sunflower", sans-serif;
    text-transform: uppercase;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* form container */

.container {
    width: 450px;
    height: fit-content;
    border-radius: 5px;
    background-color: #f2f2f200;
    padding: 20px;
    font-family: "sunflower", sans-serif;
    color: #ffffff;
    z-index: 2;

}


/* When moving the mouse over the submit button, add a darker green color */

input[type="submit"]:hover {
    background-color: rgb(255, 255, 255);
    color: #dc3f2f;
    font-family: "sunflower", sans-serif;
    text-transform: uppercase;

}


.contact-body {
    background: #284664;
    display: flex;
    gap: 300px;
    /* grid-template-columns: 1fr 1fr; */
    min-height: 100vh;
    place-content: center;
    place-items: center;
    background-image: url('Leafs.png');


}

.contact-body h1 {
    position: absolute;
    top: 70px;
    left: 155px;
    color: #ffffff;
    font-family: "sunflower", sans-serif;
    font-style: bold;
    font-size: 64px;
    line-height: 80px;
    line-height: 100%;
    text-align: center;
    vertical-align: center;
    letter-spacing: -2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.leafs{
    display: flex;
    position: absolute;
    /* left: 800;
    top:250; */
    width: 50%;
    height: auto;
    transform: rotate(-23deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));

}


/* map effects only */

.map {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    z-index: 2;
}

.map > .address {
    font-family: "sunflower", sans-serif;
    font-size: 1.6em;
    text-decoration: none;
    color: #dc3f2f;
}




/* Footer starts */

.footer-block{
	align-items: center;
	background-color: #dc3f2f;
	height: 300px;
	width: 100%;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding-top: 75px;
	color:rgba(255, 255, 255, 1);
	height: 50%;
	width: 90%;
	font-family: "Sunflower", sans-serif;
	margin: auto;
}

.top-footer{
	display: flex;
	height: 50%;
	align-items: center;
	position: relative;
	width: 100%;
	justify-content:space-between;
}

.top-footer h2{
	padding-left: 15px;
}


.footer-logo{
	position: absolute;
	top: -45px;
	height: 100%;
	left: 50%;
	transform: translate(-50%,.0001%);

}

.footer-list li a{
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	padding: 15px 15px 0px 75px;
}

.footer-list li a:hover{
	color: #fff;
	text-decoration:underline;
}


.footer-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.bottom-footer{
	height:50%;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

}

.footer-links{
	padding: 15px;
    color: #fff;
}

.copyright{
	display: flex;
	align-items: center;
}

.footer-line{
	width: 100%;
	height: 2px;
	background-color: rgba(255, 255, 255, 1);
	margin: auto;
}

.copyright p{
	margin-right: 8px;
}
