/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */



body {
	max-width: 100vw;
	padding: 0;
	margin: 0;
}

/* Top of page Nav */

.navbar {
	height: 70px;
	width: 100%;
	padding: 0px;
    background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	font-family: "Sunflower", sans-serif;
}

/* logo */
.logo{
	list-style-type: none;
}

.navbar li img{
	padding: 0px 25px;
	width: 45px;
	height: 45px;
	list-style: none;
	text-decoration: none;
}
/* nav links and icons */

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.nav-list a{
    color: #dc3f2f;
	text-decoration: none;
	margin: 35px;
	padding: 10px;

}

.nav-list a:hover{
    color: rgb(255, 255, 255);
    background-color: #dc3f2f;
    border-radius: 20px;
}


.iconify {
	height: 2rem;
	padding: 15px;
	width: auto;
	align-items: center;
}


/* Background Image. Main page illustraion.*/

.background-image {
	display: grid;
	height: auto;
	width: 100%;
	margin: 0;
	position: relative;
}


/* Welcome Header */

.banner {
	Display: grid;
	height: 300px;
	width: 100%;
	background-color: #dc3f2f;
	color: #fff;

}

.welcome{
	margin: auto;
	font-size: 96px;
	font-family: "sunflower", sans-serif;
	letter-spacing: .8em;
}

/* second hero image. Encounter. */

.second-hero{
	display: grid;
	padding: 0;
	margin: 0;
	height: auto;
	width: 100%;
}
/* Footer starts here */

.footer-block{
	background-color: #dc3f2f;
	height: 300px;
	width: 100%;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color:rgba(255, 255, 255, .88);
	height: 100%;
	width: 90%;
	font-family: "Sunflower", sans-serif;
	margin: auto;
}

.top-footer{
	display: flex;
	height: 50%;
	align-items: center;
	position: relative;
	width: 100%;
	justify-content: space-between;
}


.footer-logo{
	position: absolute;
	height: 100%;
	left: 50%;
	transform: translate(-50%,.0001%);

}

.footer-list li a{
	color: rgba(255, 255, 255);
	text-decoration: none;
	padding: 15px;
}

.footer-list li a:hover{
	color: #fff;
	text-decoration:underline;
}


.footer-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.bottom-footer{
	height:50%;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

}

.copyright{
	display: flex;
	align-items: center;
}

.footer-line{
	width: 100%;
	height: 3px;
	background-color: rgba(255, 255, 255, .88);
	margin: auto;
}

.copyright p{
	margin-right: 8px;
}

/* Roque Martinez. Illustrate your imagination. On main page */

.homepagename{
	position:absolute;
	top: 50%;
	transform: translate(-50%,-50%);	
	width: 30%;
	left: 50%;
}

/* embedded audio */

.audio-container{
	position: absolute;
	top: 4.5%;
	transform: translate(-50%, -50%);
	left: 20%;
	width: 20%;
}





